.container, .container2  {
  height: 300px;
}
.container p {
  float: left;
  font-size: 25px;
  width: 50%;
  height: 300px;
}
.container img {
  display: block;
  margin: auto;
  width: 50%;
  height: 300px;
  width: 300px;
}
.container2 p {
  float: right;
  width: 50%;
  font-size: 25px;
  height: 300px;
}
.container2 img {
  display: block;
  margin: auto;
  width: 50%;
  height: 300px;
  width: 300px;
}
