.container p {
  float: left;
  width: 50%;
  max-height: 500px;
}
.container img {
  float: right;
  width: 50%;
  max-height: 500px;
}
.container2 p {
  float: right;
  width: 50%;
  max-height: 500px;
}
.container2 img {
  float: left;
  width: 50%;
  max-height: 500px;
}
