#title {
    background-image: url("img/logo.png") no-repeat center center;
    height: 200px;
    width: 200px;
}
#title.img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.fadein { 
    position:relative; 
    margin-top: 61px;
    height: 439px;
    max-width: 100%;
    border-radius:5px;
    overflow:hidden; 
}
.fadein img { 
    position:absolute; 
    width: 100%; 
    border-radius: 0% 0% 0% 0%;
}
