.title {
    position: relative;
    height: 150px;
    width: 100%;
    text-align:center;
}
.title img {
    /*position: absolute;
    height: 75px;
    width:200px;
    left: 50%;
    right: 50%;
    top: 75px;
    bottom: 75px;*/
    vertical-align: middle;
}
.tabs {
   float:left;
   height: 75px;
   width:100%;
   overflow:hidden;
   position:relative;
   background-color:#36454f;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.fadein { 
    position:relative; 
    margin-top: 61px;
    height: 439px;
    max-width: 100%;
    border-radius:5px;
    overflow:hidden; 
}
.fadein img { 
    position:absolute; 
    width: 100%; 
    border-radius: 0% 0% 0% 0%;
}
