html {
    border: 0px;
    margin: 0px;
}
body {
    border: 0px;
    margin: 0px;
}
.title {
    position: relative;
    height: 125px;
    width: 100%;
    text-align:center;
}
.title img {
    vertical-align: middle;
    height: 75px;
    width:400px;
}
.tabs {
   float:left;
   height: 75px;
   width:100%;
   overflow:hidden;
   position:relative;
   background-color:#36454f;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.fadein { 
    position:relative; 
    height: 200px;
    width: 100%;
    border-radius:5px;
    overflow:hidden; 
}
.fadein img { 
    position:absolute; 
    width: 100%;
    border-radius: 0% 0% 0% 0%;
}
.footer {
    position: relative;
    bottom: 0%;
    height: 125px;  
    background-color:#36454f;
}
.footer p {
    color: white;
    bottom: 0%;
}
