html {
    border: 0px;
    margin: 0px;
}
body {
    border: 0px;
    margin: 0px;
}
.connect {
    position: absolute;
    height: 25px;
    width: 100%;
    top: 0%;
    left: 0%;
}
ul.connect {
    list-style-type: none;
    margin: 0;
    padding: 10px; 
}
.connect li {
    display:inline;
    float:left;
    list-style:none;
    height: 25px;
    width: 25px;
    padding: 10px;
}
.connect li div {
    height: 25px;
    width: 25px;
}
.about {
    position: absolute;
    height: 25px;
    /*width: 100%;*/
    top: 0%;
    right: 0%;
}
ul.about {
    list-style-type: none;
    margin: 0;
    padding: 10px; 
}
.about li {
    display:inline;
    float:right;
    list-style:none;
    height: 25px;
    width: 75px;
    padding: 10px;
}
.about li p {
    position: absolute;
    top: 0%;
}
.products {
    text-align: center;
}
.topproducts {
    position: relative;
    text-align: center;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 75%;
    min-width: 500px;
}
ul.topproducts {
    list-style-type: none;
    margin: 0;
    padding: 10px; 
}
.topproducts li {
    display:inline;
    float:left;
    list-style:none;
    height: 100px;
    width: 150px;
    padding: 10px;
}
.title {
    position: relative;
    height: 125px;
    width: 100%;
    text-align:center;
}
.title img {
    vertical-align: middle;
    height: 75px;
    width:400px;
}
.tabs {
   float:left;
   height: 50px;
   width:100%;
   position:relative;
   background-color:#36454f;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
ul.tabs li {
   display:inline;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   right:50%;
}
.fadein { 
    position:relative; 
    height: 200px;
    width: 100%;
    border-radius:5px;
    overflow:hidden; 
    z-index: -1;
}
.fadein img { 
    position:absolute; 
    width: 100%;
    border-radius: 0% 0% 0% 0%;
}
.footer {
    position: absolute;
    bottom: 0%;
    height: 125px;
    width: 100%;
    background-color:#36454f;
}
.footer p {
    position: absolute;
    color: white;
    bottom: 0%;
}
