ul.search {
    display: flex;
    list-style:none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.search li {
    width: 25%;
    list-style:none;
    height: 250px;
}
.row {
    width: 100%;
    height: 100%;
}
