#tabs {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}

.ribbon {
   position: relative;
   top: -16px;
   right: -706px;
}

#map {
        width: 100%;
        height: 400px;
     }
     
ul.tab {
    clear:left;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid #ccc;*/
    background-color: transparent;
    position:relative;
    left:50%;
    text-align:center;
}

/* Float the list items side by side */
ul.tab li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

/* Style the links inside the list items */
ul.tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Translucent_50_percent_white.png)}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: lighter(60%);}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

/* Style the tab content 
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/
