#tabs {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   background-color:#A9A9A9;
}
.project-name
{
   text-align: center;
}
.secondmain{
   background-color:black;
}
.site-footer {
    bottom: 0;
    width: 100%;
  border-top: solid 1px #eff0f1; 
  background-color: #062F4F;
}
.page-header {
  /*text-align: center;*/
   background-color:#062F4F;
  /*background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); */
  max-height:300px;
  overflow: visible;
}
#main-content {
   background-image:url(images/cshcrest.png);
    background-position:right;
    width:700px;
    height:400px;
}
tr, td, th
{
  border: 0;
}
}
#content {
    position: absolute;
}
div.content a:hover {
background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Translucent_50_percent_white.png);
}
.ribbon {
    position: absolute;
    top: 100px;
    right: 250px;
}

#map {
        width: 100%;
        height: 400px;
     }
     
ul.tab {
    clear:left;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid #ccc;*/
    background-color: transparent;
    position:relative;
    left:50%;
    text-align:center;
}

/* Float the list items side by side */
ul.tab li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

/* Style the links inside the list items */
ul.tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Translucent_50_percent_white.png);}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: lighter(60%);}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

/* Style the tab content 
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/
