/** {
  box-sizing: border-box; }
* { margin: 0; padding: 0; border: none; }
*/

body {
  overflow-x: hidden;
  overflow-y: visible;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height:100%;
  padding:0;
  margin:0;
  margin-top:0;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

html {
  height:100%;
  padding:0;
  margin:0;
  border: none; 
  margin-top:0;
}


#tabs {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
  height: 60px;
   background-color:#36454f;
}

.columnone{ float: left; width: 33%; height: 500px; }
.columntwo{ display: inline-block; width: 33%; height: 500px;}
.columnthree{ float: right; width: 33%; height: 500px;}

    /*.fadein { 
            position:relative; 
            margin-top: 75px;
            height: 200px;
            max-width: 100%;
            border-radius:5px;
            overflow:hidden; 
      }
    .fadein img { position:absolute; width: 100%; border-radius: 0% 0% 0% 0%;}*/
      .popout{
            margin: auto;
            position: relative;
            object-fit:contain;
            background-color: black;
            width: 100%;
            max-width: 100%;
            height: 60px;
            overflow:hidden;
            /*-moz-box-shadow: 0 0 30px black;
            -webkit-box-shadow: 0 0 30px black;
            box-shadow: 0 0 30px black;*/
        }
        /*.bottom {
            height: 100px;
            background-color:#36454f;
        }*/

.project-name
{
   text-align: left;
   position: relative;
   top: 10px;
   width: 250px;
   height: 50px;
}

.site-footer {
    width: 100%;
   margin-bottom: 0;
  background-color:#36454f;
  border-top: solid 1px #eff0f1; 
}
.page-header {

   margin: 0;
   padding: 0;
  max-height:300px;
  overflow: visible;
}
.main-content {
    background: url(images/cshcrest.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: middle; 
    text-align: center;
    width: 100%;
    display:block;
    /*overflow:auto;*/
}
tr, td, th
{
  border: 0;
}

#content {
    height: 150px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
}
.cshheaderdiv {
  align-self: center;
}
.cshheading {
  font-size: 60px;
  text-align:center;
  font-weight: bold;
  font-family:verdana;
  color:#000073;
}
/*.cart {
 position: relative; 
  width: 40px;
    height: 40px;
}*/
.ribbon {
    position: relative;
}

#maps2
{
  margin: auto;
  width: 75%;
}
#map {
        width: 100%;
        height: 400px;
     }
     
ul.tab {
    clear:left;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid #ccc;*/
    background-color: transparent;
    position:relative;
    left:50%;
    text-align:center;
}

/* Float the list items side by side */
ul.tab li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

/* Style the links inside the list items */
ul.tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #d3d3d3;
  background: lighten(#36454f, 60%);}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
  background-color: #d3d3d3;
  background: lighten(#36454f, 60%);}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

/* Style the tab content 
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/
